version: "3.9"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  nginx:
    build:
      context: .
      dockerfile: deploy/nginx/Dockerfile
    depends_on:
      - api
    ports:
      - "8088:80"
    volumes:
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: admtpro
      POSTGRES_USER: admtpro
      POSTGRES_PASSWORD: admtpro
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  db_data:

networks:
  app_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.24.0.0/24
